<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--server-->
  <configSections>
    <sectionGroup name="service">
      <section name="server" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <service>
    <server>
      <add key="port" value="7081" />
      <add key="username" value="admin" />
      <add key="password" value="admin" />
      <add key="monitor" value="true" />
    </server>
    <!--应用注册-->
    <assmebly>
      <add key="UcAsp.BLL" value="UcAsp.BLL.dll" />
    </assmebly>
  </service>

  <!--server-->


  <!---client-->
  <configSections>
    <sectionGroup name="client">
      <section name="server" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <client>
    <server>
      <add key="ip" value="127.0.0.1:7081" />
      <add key="mode" value="tcp" />
      <add key="pool" value="20" />
      <add key="username" value="admin " />
      <add key="password" value="admin" />
      <add key="monitor" value="true" />
    </server>
    <!--接口依赖的应用-->
    <relation>
      <add key="UcAsp.Model" value="UcAsp.Model.dll" />
    </relation>
  </client>
  <!--client-->
  <app>
    <Settings>
      <add key="ConnectionName" value="SQLServer" />
      <add key="ConnectionString" value="Data Source=192.168.6.56;initial catalog=WCS;user id=sa;password=sa_123456;Pooling=true;Max Pool Size =512;" />
      <!--包装录制视频时截取包裹ukid生成文件夹  value:截取前几位-->
      <add key="Subpackageukid" value="8" />
      <!--录像保存路径-->
      <add key="thisFolder" value="F:\" />
      <!--设置是否是主服务器  MQ代表主服务器-->
      <!--配置文件设定时间   分钟-->
      <add key="VideoTime" value="5" />

    </Settings>
  </app>
</configuration>
